<div class="container">
<label class="d-flex justify-content-center" for="typeahead-focus">Choisisez votre pokémon</label>

<input 
  id="typeahead-name"
  type="text"
  class="form-control"
  [(ngModel)]="selectedPokemonName"
  [ngbTypeahead]="search"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  #instance="ngbTypeahead"
  (selectItem)="onSelectPokemon($event)"
/>

<hr />
<pre>Model: {{ selectedPokemonName | json }}</pre>
<pre>weight: {{ Weights | json }}</pre>

<pre>Taille: {{ pokemonHeight }}</pre>
<pre>Type: {{ pokemonType | json }}</pre>
<pre>HP: {{ pokemonStats.hp }}</pre>
<pre>Attack: {{ pokemonStats.atk }}</pre>
<pre>Defense: {{ pokemonStats.def }}</pre>
<pre>Special Attack: {{ pokemonStats.spe_atk }}</pre>
<pre>Special Defense: {{ pokemonStats.spe_def }}</pre>
<pre>Speed: {{ pokemonStats.vit }}</pre>




</div>

