

@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');

custom {

    font-family: 'Pokemon Hollow', sans-serif !important;
    font-size: 8rem !important;
    

};

typo {
    font-family: 'Pokemon Hollow', sans-serif !important;
    font-size: 2rem !important;
}
