<div class="container">
<label class="d-flex justify-content-center" for="typeahead-focus">Choisisez votre pokémon</label>

<input 
  id="typeahead-name"
  type="text"
  class="form-control"
  [(ngModel)]="selectedPokemonName"
  [ngbTypeahead]="search"
  (focus)="focus$.next($any($event).target.value)"
  (click)="click$.next($any($event).target.value)"
  #instance="ngbTypeahead"
  (selectItem)="onSelectPokemon($event)"
/>

<hr />



<pre>Nom : {{selectedPokemonName}} | Poids : {{ Weights}} | Taille : {{ pokemonHeight}} | Type : {{ pokemonType}} <pre>HP: {{ pokemonStats.hp }} | Attaque : {{ pokemonStats.atk }} | Defense : {{ pokemonStats.def }} | Special Attaque : {{ pokemonStats.spe_atk }} | Special Defense: {{ pokemonStats.spe_def }} | Vitesse : {{ pokemonStats.vit }} </pre></pre>



</div>

 