
    
    @import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
    
    p {
        text-align: center;
        font-family: 'Pokemon Hollow', sans-serif;
        font-size: 80px;
        animation: POKEANIM 5s ease 0s infinite normal none;
    }

    
    h1 {
        padding: 20px;
        background: rgb(255,0,0);
        background: linear-gradient(180deg, rgba(255,0,0,1) 0%, rgba(233,142,142,1) 100%);
 
    }


    @keyframes POKEANIM {
        0% {
            transform: scale(1);
        }
    
        50% {
            transform: scale(1.1);
        }
    
        100% {
            transform: scale(1);
        }
    }

