<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>
    <span style="--index: 0" class="letter">P</span>
    <span style="--index: 1" class="letter">o</span>
    <span style="--index: 2" class="letter">k</span>
    <span style="--index: 3" class="letter">é</span>
    <span style="--index: 4" class="letter">d</span>
    <span style="--index: 5" class="letter">e</span>
    <span style="--index: 6" class="letter">x</span>
    <span style="--index: 7" class="letter">'</span>
    <span style="--index: 8" class="letter">c</span>
    <span style="--index: 9" class="letter">o</span>
    <span style="--index: 10" class="letter">m</span>
    <span style="--index: 11" class="letter">p</span>
    <span style="--index: 12" class="letter">a</span>
    <span style="--index: 13" class="letter">r</span>
    <span style="--index: 14" class="letter">a</span>
    <span style="--index: 15" class="letter">t</span>
    <span style="--index: 16" class="letter">e</span>
    <span style="--index: 17" class="letter">u</span>
    <span style="--index: 18" class="letter">r</span>
  </h1>
  
  

  <hr>

  <ngbd-typeahead-focus></ngbd-typeahead-focus>


</body>

</html>