<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Pokedex</h1>
  <p>il y a {{numberofpokemon}} pokemon <p>
  <p>{{somePokemon.name}} est le premier pokemon</p>
  <px-card></px-card>

  <button (click)="displayPokemon()">Click to display</button>

  <div *ngIf="pokemons.length >= 3"> 
    <p *ngFor="let pokemon of pokemons">
    {{pokemon.name}}
    </p>
  </div>
 


</body>
</html>